<form action="">
    <div class="mb-3">
        <input type="text" class="form-control" name="q" id="q" placeholder="tìm kím">
    </div>
        <div class="mb-3">
        <select type="text" class="form-control" name="gender" id="q">
            <option value="">-- chọn giới tính --</option>
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
        </select>
    </div>
    <button class="btn btn-success">search</button>
</form>