<form action="/courses/store" method="POST">
    <!-- name -->
    <div class="mb-3">
        <label class="form-label" for="name">Tên khóa học</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Tên khóa học">
    </div>

    <!-- description -->
    <div class="mb-3">
        <label for="description" class="form-label">Mô tả</label>
        <textarea name="description" class="form-control" id="descriptiont" rows="5"></textarea>
    </div>

    <!-- image -->
    <div class="mb-3">
        <label class="form-label" for="image">Ảnh bìa</label>
        <input type="text" id="image" name="image" class="form-control" placeholder="Ảnh khóa học">
    </div>


    <div class="text-center">
        <button class="btn btn-success" type="submit">Tạo khóa học</button>
    </div>

</form>