<div class="Sidebar_wrapper__kUJFm" id="sidebar">
    <ul class="Sidebar_list__HnCzM">
        <li>
            <a aria-current="page" class="Sidebar_itemBtn__Q78b7 active" href="/">
                <i class="bi bi-house-fill icon_sidebar"></i>
                <span>Trang chủ</span>
            </a>
        </li>
        <li>
            <a class="Sidebar_itemBtn__Q78b7" href="/courses">
                <i class="bi bi-newspaper icon_sidebar"></i>
                <span>Khóa học</span>
            </a>
        </li>
        <li>
            <a class="Sidebar_itemBtn__Q78b7" href="/me/stored/courses">
                <i class="bi bi-newspaper icon_sidebar"></i>
                <span>Tôi</span>
            </a>
        </li>
        
        <li>
            <a class="Sidebar_itemBtn__Q78b7" href="/blog">
                <i class="bi bi-archive-fill icon_sidebar"></i>
                <span>Bài viết</span>
            </a>
        </li>
    </ul>
</div>