<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/assets/css/my_cus.css">

    <!-- Libs CSS -->
    <link href="/assets/fonts/feather/feather.css" rel="stylesheet">
    <link href="/assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">

    <link href="/assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/css/theme.min.css">
    <link href="/assets/libs/prismjs/themes/prism-okaidia.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/libs/tiny-slider/dist/tiny-slider.css">
    <title>{{title}}</title>
</head>

<body>
    {{> header}}

    <div class="main_all">

        <div class="App_sidebarWrap__3LwsB">{{> sidebar}}</div>

        <div class="App_withSidebarContent__o4VlQ">
            <div class="container mt-3">{{{body}}}</div>
        </div>

    </div>

    {{> footer}}

    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/simplebar/dist/simplebar.min.js"></script>


    <script src="/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>


    <script src="/assets/js/theme.min.js"></script>
    <script src="/assets/js/vendors/sidebarMenu.js"></script>
    <script src="/assets/libs/prismjs/prism.js"></script>
    <script src="/assets/libs/prismjs/components/prism-scss.min.js"></script>
    <script src="/assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="/assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="/assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="/assets/libs/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="/assets/libs/tippy.js/dist/tippy-bundle.umd.min.js"></script>
    <script src="/assets/js/vendors/tnsSlider.js"></script>
    <script src="/assets/js/vendors/tooltip.js"></script>

</body>

</html>